body {
    margin: 0;
    padding: 0;
    color: #fff;
    /* background-image: url('https://t4.ftcdn.net/jpg/07/13/56/41/360_F_713564175_8trBzWxX6MQJiB7DWQkmkDT93PEMkPVV.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}
svg {
    display: block;
    height: 30px;
    width: 30px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
  }

svg:hover {
    fill: #0077B5;
    transform: scale(1.1);
}

.heading-reg{
    margin-top: 10px;
    line-height: normal;
    display:flex;
    flex-direction: column;
}
.container {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 1200px;
    height: 90vh;
    transition: transform 0.5s ease-in-out;
    overflow-y: auto;
}

.container:hover {
    transform: scale(1.02);
}

::-webkit-scrollbar {
    display: none;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures the video is behind the content */
    object-fit: cover;
}


.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* height: 50vh; */
}
.left img {
    height: 500px;
    width: 500px;
}
.right {
    line-height: 20px;
    font-family: "Timmana", sans-serif;
    font-size: 20px;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    overflow: auto;
}

#guidelines {
    color: rgb(255, 255, 255);
    text-wrap: stable;
    font-size: large;
}

.cp {
    color: gold;
}

#register-button {
    padding: 15px 35px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-size: 20px;
    background-color: #1e90ff; 
    transition: background-color 0.3s, transform 0.3s;
    animation: fadeInDown 1.8s ease-out;
}

#register-button:hover {
    background-color: #155c9c;
    transform: scale(1.05);
}

#register-button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#register-button::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FFF, #2e2c2c, #FFF, #2e2c2c, #FFF
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 25s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

#register-button:hover::before {
    opacity: 1;
}

#register-button:active:after {
    background: transparent;
}

#register-button:active {
    font-weight: bold;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.right::-webkit-scrollbar {
    display: none;
}

.right h1, .right h2, .right p, .right ul, .right .contact, .right button {
    margin: 10px 0;
}

.right h2 {
    line-height: 30px;
    font-size: 1.5em;
    color: #ffa500; 
    margin-top: 15px;
    animation: fadeInDown 1.2s ease-out;
}

.right h2 {
    font-size: 1.5em;
    color: #ffa500; 
    margin-top: 20px;
    animation: fadeInDown 1.2s ease-out;
}

.right p, .right ul {
    color: #d3d3d3; 
    animation: fadeInDown 1.4s ease-out;
}

.right ul {
    list-style: none;
    padding: 0;
}

.right ul li {
    color: #ffffff; 
    margin: 5px 0;
    padding: 7px;
    border-radius: 5px;
    animation: fadeInDown 1.6s ease-out;
}

.right .contact a {
    color: #1e90ff; 
    text-decoration: none;
}

.right .contact a:hover {
    text-decoration: underline;
}

.section {
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.contact, .contact-1 {
    display: flex;
    justify-content: space-evenly;
}

.contact > div, .contact-1 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact > div > p, .contact-1 > div > p {
    text-align: center;
}

@media (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .left img{
        width: 100%;
        height: fit-content;
    }

    .contact ,.contact-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact > div, .contact-1 > div{
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .right {
        flex: none;
        overflow-y: auto; 
    }
}